@font-face {
    font-family: "MontserratM";
    src: url(./fonts/Montserrat-Medium.ttf);
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "MontserratS";
    src: url(./fonts/Montserrat-SemiBold.ttf);
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat";
    src: url(./fonts/Montserrat-Regular.ttf);
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Manch";
    src: url(./fonts/manchester-city-ucl-2017-fff.ttf);
    font-weight: 500;
    font-style: normal;
}