@import url("./fonts.css");
*{
    font-family: "Montserrat";
    margin: 0;
    padding: 0;
    bottom: 0;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
}
p{
    font-family: 'Montserrat';
    font-size: 30px;
}

body{
    background-color: #0E0E0E !important;
}

.container{
    width: 1200px;
    margin: 0 auto;
}

header{
    background: #8FFF5B;
}

.shapka{
    padding: 1% 0 1% 0;
    margin-bottom: 5%;
}

.shapka .container{
    display: flex;
    flex-direction: row;
}

.shapka .container .logo{
    width: 50%;
}

.shapka .container .text{
    width: 50%;
    display: flex;
    justify-content: end;
    align-items: center;
}

.shapka .container .text a{
    font-size: 16px;
    color: #0E0E0E;
    font-family: "MontserratM";
    text-decoration: none;
    transition: 0.5s;
}

.shapka .container .text a:hover{
    transition: 0.3s;
    color: white;
    text-decoration: underline;
}

.shapka .container .text .g{
    width: 19%;
    margin-right: 1%;
    margin-top: 0;
}

.shapka .container .text .g1{
    width: 27%;
    margin-right: 1%;
    margin-top: 0;
}

.shapka .container .text .g2{
    width: 19%;
    margin-top: 0;
}





.section-card .container h2{
    font-family: 'MontserratS';
    font-size: 40px;
    color: white;
    text-align: center;
    margin-bottom: 3%;
}

.section-card .container .all{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.section-card .container .all .card{
    width: 31% !important;
    margin-bottom: 5%;
    border-radius: 20px !important;
    border: none;
}

.section-card .container .all .card img{
    border-radius: 20px;
}

.section-card .container .all .card .card-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;
}

.section-card .container .all .card .card-body h5{
    color: #0E0E0E !important;
    font-family: 'MontserratS';
    text-align: center;
    font-size: 20px;
    margin-top: 8%;
    width: 100%;
}

.section-card .container .all .card .card-body p{
    color: #0E0E0E !important;
    font-family: 'Montserrat';
    text-align: center;
    font-size: 16px;
    margin-bottom: 10%;
}

.section-card .container .all .card .card-body a{
    color: #0E0E0E !important;
    font-family: 'MontserratS';
    text-align: center;
    font-size: 20px;
    margin-bottom: 1%;
    text-align: center;
    background-color: #8FFF5B;
    border: 3px solid #8FFF5B;
    border-radius: 30px;
    width: 85%;
}

.section-card .container .all .card .card-body a:hover{
    transition: 0.5s;
    background: white;
    color: #0E0E0E;
    border: 3px solid #8FFF5B;
}








footer{
    background: #8FFF5B;
}

footer .container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer .container .logo{
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .container .text{
    width: 35%;
    display: flex;
    justify-content: space-between;
    padding-top: 3%;
    padding-bottom: 1%;
}

footer .container .text p{
    font-size: 16px;
    font-family: 'Montserrat';
}

footer .container .icons{
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icons svg{
    fill: #0E0E0E;
    height: 25px;
    transition: 0.5s;
    margin-left: 2%;
}

.icons svg:hover{
    fill: white;
    transition: 0.5s;
}




@media (max-width: 992px) {
    .container{
        width: 960px;
    }

    .shapka .container .text .g{
        font-size: 12px;
    }

    .shapka .container .text .g1{
        font-size: 12px;
    }

    .shapka .container .text .g2{
        font-size: 12px;
    }

    .section-card .container h2{
        font-size: 30px;
    }

    .section-card .container .all .card{
        width: 32% !important;
        border-radius: 15px !important;
    }

    .section-card .container .all .card .card-body h5{
        font-size: 16px;
    }

    .section-card .container .all .card .card-body p{
        font-size: 14px;
    }

    .section-card .container .all .card .card-body a{
        font-size: 18px;
    }

    .section-card .container .all .card img{
        border-radius: 15px;
    }

    footer .container .text p{
        font-size: 14px;
    }

    footer .container .logo{
        width: 20%;
    }

    footer .container .text{
        width: 45%;
    }

    footer .container .icons{
        width: 20%;
    }
}



@media (max-width: 768px) {
    .container{
        width:  740px;
    }

    .shapka .container .text .g{
        font-size: 10px;
        margin-right: 4%;
    }

    .shapka .container .text .g1{
        font-size: 10px;
        margin-right: 4%;
    }

    .shapka .container .text .g2{
        font-size: 10px;
    }

    .shapka .container .logo svg{
        width: 30%;
    }

    .section-card .container h2{
        font-size: 25px;
    }

    .section-card .container .all .card{
        width: 48% !important;
        border-radius: 10px !important;
    }

    .section-card .container .all .card .card-body h5{
        font-size: 14px;
    }

    .section-card .container .all .card .card-body p{
        font-size: 12px;
    }

    .section-card .container .all .card .card-body a{
        font-size: 16px;
    }

    .section-card .container .all .card img{
        border-radius: 10px;
    }

    footer .container .text{
        width: 100%;
        justify-content: space-around;
    }

    footer .container{
        justify-content: space-around;
    }


}




@media (max-width: 576px) {
    .container{
        width:  98%;
    }

    .shapka .container .text .g{
        margin-right: 15%;
        font-size: 8px;
    }

    .shapka .container .text .g1{
        margin-right: 15%;
        font-size: 8px;
    }

    .shapka .container .text .g2{
        font-size: 8px;
    }

    .section-card .container h2{
        font-size: 18px;
    }

    .section-card .container .all .card{
        width: 60% !important;
        border-radius: 10px !important;
    }

    .section-card .container .all .card .card-body h5{
        font-size: 14px;
    }

    .section-card .container .all .card .card-body p{
        font-size: 12px;
    }

    .section-card .container .all .card .card-body a{
        font-size: 13px;
    }

    footer .container .text p{
        font-size: 10px;
    }


}